<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MagicPlaylist</title>
    <meta name="description" content="Create random playlist on Deezer">
    <meta name="author" content="Nicolas Delfour">
    <link rel="stylesheet" href="Content/Css/styles.css">
</head>

<body>
    <div id="dz-root"></div>
    <div class="shadow">
        <img id="first" class="logo" src="Content/Images/logo.png" />
        <a href="#!" class="dz-login">
            <img id="second" class="logo2 hide" src="Content/Images/logoend.png" />
        </a>
        <img id="third" class="logo3 hide" src="Content/Images/logodone.png" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
    <script src="Content/Js/jQueryRotate.js"></script>
    <script src="Content/Js/magicPlaylist.js"></script>
    


</body>
</html>