<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MagicPlaylist</title>
    <meta name="description" content="Create random playlist on Deezer">
    <meta name="author" content="Nicolas Delfour">
    <link rel="stylesheet" href="Content/Css/styles.css">
</head>

<body>
    <div id="dz-root"></div>
    <div class="shadow">
        <img id="toInit" class="logo" src="Content/Images/toInit.png" />
        <a href="#!" class="dz-login">
            <img id="toStart" class="logo hide" src="Content/Images/toStart.png" />
        </a>
        <a href="#!" class="dz-playlist" target="_blank">
            <img id="toSuccess" class="logo hide" src="Content/Images/toSuccess.png" />
        </a>
        <img id="toError" class="logo hide" src="Content/Images/toError.png" />  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
    <script src="Content/Js/jQueryRotate.js"></script>
    <script src="Content/Js/magicPlaylist.js"></script>
</body>
</html>