<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="MagicPlaylist.Common"/>
  </extensions>
  <targets>
    <!--Module Info-->
    <target name="moduleInfo" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Module\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${event-properties:item=message}" />
        <attribute name="elapsed" layout="${event-properties:item=elapsed}" />
        <attribute name="userId" layout="${event-properties:item=userId}" />
      </layout>
    </target>
    <!--Module Error-->
    <target name="moduleError" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Module\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <!--Gateway Info-->
    <target name="gatewayInfo" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Gateway\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${event-properties:item=message}" />
        <attribute name="elapsed" layout="${event-properties:item=elapsed}" />
        <attribute name="userId" layout="${event-properties:item=userId}" />
      </layout>
    </target>
    <!--Gateway Error-->
    <target name="gatewayError" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Gateway\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <!--Deezer Info-->
    <target name="deezerInfo" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Deezer\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${event-properties:item=message}" />
        <attribute name="elapsed" layout="${event-properties:item=elapsed}" />
        <attribute name="userId" layout="${event-properties:item=userId}" />
      </layout>
    </target>
    <!--Deezer Error-->
    <target name="deezerError" xsi:type="File" fileName="C:\Users\nicolas\Documents\_Nicolas\Test\Deezer\${level}.json"
            archiveAboveSize="10240" archiveEvery="Day" maxArchiveFiles="3" archiveNumbering="Rolling" archiveFileName="${level}.{####}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Module" level="Info" writeTo="moduleInfo" />
    <logger name="Module" level="Error" writeTo="moduleError" />
    <logger name="Gateway" level="Info" writeTo="gatewayInfo" />
    <logger name="Gateway" level="Error" writeTo="gatewayError" />
    <logger name="Deezer" level="Info" writeTo="deezerInfo" />
    <logger name="Deezer" level="Error" writeTo="deezerError" />
  </rules>
</nlog>